# --- Credenciales de Google (Seguridad) ---
# Ignorar el archivo de configuración de la app
credentials.json
src/main/resources/credentials.json

# Ignorar la carpeta donde se guarda el permiso del usuario
tokens/
src/main/resources/tokens/

# Carpeta de script SQL
script/

inmobiliaria.ini


/.gradle/
/build/
/.classpath
/.project
/Inmobiliaria
/.settings
/bin/