<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">


  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>  
    <servlet-name>InmobiliariaApp</servlet-name>
	<servlet-class>servlets.PrincipalServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>InmobiliariaApp</servlet-name>
    <url-pattern>/servlet/App</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>PDFPreview</servlet-name>
	<servlet-class>servlets.PDFPreview</servlet-class>
  </servlet>
  <servlet>
    <display-name>Salir</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlets.Logout</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>PDFPreview</servlet-name>
    <url-pattern>/servlet/PDFPreview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/servlet/Logout</url-pattern>
  </servlet-mapping>


    <session-config>
      <session-timeout>120</session-timeout>    <!-- 120 minutos -->
    </session-config>

</web-app>
